<h1>{{categoria.nome}}</h1>
{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <h4>{{titulo}}</h1>
    <p>{{descricao}}</p>
    <a href="/postagens/{{slug}}"><button class="btn btn-primary">Leia Mais</button></a>
    <br>
    <br>
    <small>Data da criação: {{date}}</small>
  </div>
</div>
{{else}}
<p>Nenhuma postagem </p>
{{/each}}